<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" />

</head>


<body>


<div class="container">
	<div class="sitenav">
		<div class="index">
			<a class="nav-index" href="index.html">Index</a>
		</div>
	</div>
</div>


<div class="overlay"></div>


<div class="container">
	<div class="wrapper">
		<div class="project-infos">
			<p>
				<h1>Des filles la mer et une grotte</h1>
				<span style="font-style: italic;">Des filles la mer et une grotte</span> est une exposition présentée dans le cadre du festival <span style="font-style: italic;">La Photographie Marseille</span> à la Straat Galerie de Marseille.
				<br><br>
				"L'exposition <span style="font-style: italic;">Des filles la mer et une grotte</span>, est en quelque sorte le second volet du travail que j'ai réalisé à Fukushima. Les photographies sont issues de mon voyage au Japon mais dans une approche très différente de l'installation qui a été sélectionnée au Festival <span style="font-style: italic;">ManifestOs</span> où je présentais 20 images sur une construction en bois brut.
				<br><br>
				Le travail présenté ici est plus spontané, plus intuitif. Sur les 800 photos prises lors de mon séjour, j'ai choisi d'associer trois sujets récurrents, des portraits de jeunes filles, des images de mer et de grotte. Ces trois éléments entrent parfaitement en résonance par leur caractère narratif, mythologique et symbolique.
				<br><br>
				Cette série s'organise sous forme d'une fable visuelle, où chaque image a une portée symbolique.<br>
				Le spectateur est invité à suivre le cheminement des images composant une histoire cyclique mise en place par la présence d'éléments qui reviennent de manière récurrente."
				<br><br>
				<span style="font-style: italic;">Extrait de l'entretien mené par Point Contemporain, nov 2015</span>
			</p>


			<p>
				<span style="font-style: italic;">Des filles la mer et une grotte</span> est une exposition présentée dans le cadre du festival <span style="font-style: italic;">La Photographie Marseille</span> à la Straat Galerie de Marseille.
				<br><br>
				"L'exposition <span style="font-style: italic;">Des filles la mer et une grotte</span>, est en quelque sorte le second volet du travail que j'ai réalisé à Fukushima. Les photographies sont issues de mon voyage au Japon mais dans une approche très différente de l'installation qui a été sélectionnée au Festival <span style="font-style: italic;">ManifestOs</span> où je présentais 20 images sur une construction en bois brut.
				<br><br>
				Le travail présenté ici est plus spontané, plus intuitif. Sur les 800 photos prises lors de mon séjour, j'ai choisi d'associer trois sujets récurrents, des portraits de jeunes filles, des images de mer et de grotte. Ces trois éléments entrent parfaitement en résonance par leur caractère narratif, mythologique et symbolique.
				<br><br>
				Cette série s'organise sous forme d'une fable visuelle, où chaque image a une portée symbolique.<br>
				Le spectateur est invité à suivre le cheminement des images composant une histoire cyclique mise en place par la présence d'éléments qui reviennent de manière récurrente."
				<br><br>
				<span style="font-style: italic;">Extrait de l'entretien mené par Point Contemporain, nov 2015</span>
			</p>			
		</div>
	</div>
</div>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>