<% include ../src/partials/head.html %>

	<title>En espace</title>

</head>

<body>


<% include ../src/partials/menu.html %>

<div class="overlay"></div>
<div class="background"></div>




<div class="container espace">
	
	<div class="wrapper article">
		<p><span style="font-style: italic;">On the soft edge</span>, Hors les Murs, La Nuit de l’Instant, Les Ateliers de l'Image, Marseille, 2016</p>
		<img src="static/images/espace/softedge_a_01.jpg">
		<img src="static/images/espace/softedge_a_02.jpg">
	</div>

	<div class="wrapper article">
		<p>White Trash, Le Louise, Young International Artfair, Bruxelles, 2016</p>
		<img class="lazy" src="static/images/espace/whitetrash_a_01.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_a_02.jpg">	
		<img class="lazy" src="static/images/espace/whitetrash_a_03.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_a_04.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_a_05.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_a_06.jpg">											
	</div>

	<div class="wrapper article">
		<p>White Trash, 43 pages, édition limitée à 10 exemplaires, autopubliée, 2016</p>
		<img class="lazy" src="static/images/espace/whitetrash_b_01.jpg">		
		<img class="lazy" src="static/images/espace/whitetrash_b_02.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_b_03.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_b_04.jpg">
		<img class="lazy" src="static/images/espace/whitetrash_b_05.jpg">								
	</div>


	<div class="wrapper article">
		<p>Fragments amoureux, Espace Michelet, Les Rencontres Internationales de la Jeune Photographie, Villa Pérochon, 2016</p>
		<img class="lazy" src="static/images/espace/fragments_01.jpg">
		<img class="lazy" src="static/images/espace/fragments_02.jpg">
		<img class="lazy" src="static/images/espace/fragments_03.jpg">				
	</div>


	<div class="wrapper article">
		<p>Des filles la mer et une grotte, Espace Michelet, Les Rencontres Internationales de la Jeune Photographie, Villa Pérochon, 2016</p>
		<img class="lazy" src="static/images/espace/desfilles_a_01.jpg">
		<img class="lazy" src="static/images/espace/desfilles_a_02.jpg">
		<img class="lazy" src="static/images/espace/desfilles_a_03.jpg">
		<img class="lazy" src="static/images/espace/desfilles_a_04.jpg">															
	</div>


	<div class="wrapper article">
		<p>Des filles la mer et une grotte, Straar Galerie, La Photographie Marseille, 2015</p>
		<img class="lazy" src="static/images/espace/desfilles_b_01.jpg">
		<img class="lazy" src="static/images/espace/desfilles_b_02.jpg">
		<img class="lazy" src="static/images/espace/desfilles_b_03.jpg">
		<img class="lazy" src="static/images/espace/desfilles_b_04.jpg">
		<img class="lazy" src="static/images/espace/desfilles_b_05.jpg">	
		<img class="lazy" src="static/images/espace/desfilles_b_06.jpg">	
		<img class="lazy" src="static/images/espace/desfilles_b_07.jpg">	
		<img class="lazy" src="static/images/espace/desfilles_b_08.jpg">	
		<img class="lazy" src="static/images/espace/desfilles_b_09.jpg">
	</div>

	<div class="wrapper article">
		<p>On the soft edge, festival ManifestO, Toulouse, 2015</p>
		<img class="lazy" src="static/images/espace/softedge_b_01.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_02.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_03.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_04.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_05.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_06.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_07.jpg">
		<img class="lazy" src="static/images/espace/softedge_b_08.jpg">										
	</div>

	<div class="wrapper article">
		<p>Le spectre des illuminés, collaboration avec Ken Sortais, Field Effects, Le CAP, Arles, 2015</p>
		<img class="lazy" src="static/images/espace/spectre_01.jpg">
		<img class="lazy" src="static/images/espace/spectre_02.jpg">
		<img class="lazy" src="static/images/espace/spectre_03.jpg">
		<img class="lazy" src="static/images/espace/spectre_04.jpg">
		<img class="lazy" src="static/images/espace/spectre_05.jpg">								
	</div>

	<div class="wrapper article">
		<p>J’ai bu le vin nouveau, Ville fantôme (Photo 122), La Galerie de la Rotonde, Paris, 2015</p>
		<img class="lazy" src="static/images/espace/vin_01.jpg">
		<img class="lazy" src="static/images/espace/vin_02.jpg">
		<img class="lazy" src="static/images/espace/vin_03.jpg">
	</div>

	<div class="wrapper article">
		<p>Cattuliacus, collaboration avec Ken Sortais, Seine Saint Denis Style, Atelier G8 - CIté des Arts, Paris, 2015</p>
		<img class="lazy" src="static/images/espace/cattuliacus_01.jpg">
		<img class="lazy" src="static/images/espace/cattuliacus_02.jpg">
		
	</div>	

	<div class="wrapper article">
		<p>Rupture Interne, édition limitée à 1 exemplaire, autopubliée, 2014</p>
		<img class="lazy" src="static/images/espace/rupture_01.jpg">
		<img class="lazy" src="static/images/espace/rupture_02.jpg">	
		<img class="lazy" src="static/images/espace/rupture_03.jpg">	
		<img class="lazy" src="static/images/espace/rupture_04.jpg">	
		<img class="lazy" src="static/images/espace/rupture_05.jpg">	
		<img class="lazy" src="static/images/espace/rupture_06.jpg">	
	</div>	




</div>



<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/LazyLoad.js"></script>
<script src="static/js/main.js"></script>

<script>
	$("img.lazy").lazyload({
		effect : "fadeIn",
		threshold : 100
	});


	$('.sitenav a').removeClass('current');
    $('.nav-espace').addClass('current');

</script>


</body>
</html>
