<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" />

</head>

<body>

<% include ../src/partials/menu.html %>


<div class="overlay"></div>

<div class="container">
	<div class="projects">
		


		
		<div class="row">
			<!-- Des filles, la mer et une grotte -->
			<div class="left">
				<a href="desfilles.html"><img src="static/images/index/desfilles.jpg" class="center" style="height: 70%"></a>
			</div>

			<!-- White Trash -->
			<div class="right">
				<a href="whitetrash.html"><img src="static/images/index/whitetrash.jpg" class="center" style="height: 40%"></a>
			</div>

		</div>


		<div class="row">
			<!-- Fragments amoureux-->
			<div class="full">
				<a href="fragments.html"><img src="static/images/index/fragments.jpg" class="center" style="height: 55%"></a>
			</div>
		</div>


		<div class="row">
			<!-- J'ai bu le vin nouveau -->
			<div class="left">
				<a href="vinnouveau.html"><img src="static/images/index/vinnouveau.jpg" class="center" style="height: 40%"></a>
			</div>
			
			<!-- On the soft edge -->
			<div class="right">
				<a href="softedge.html"><img src="static/images/index/softedge.jpg" class="center" style="height: 70%"></a>
			</div>

		</div>


		<div class="row">
			<!-- Erscheinen -->
			<div class="left">
				<a href="erscheinen.html"><img src="static/images/index/erscheinen.jpg" class="center" style="height: 60%"></a>
			</div>
		</div>


		<div class="row">
			<!-- Rupture interne -->
			<div class="full">
				<a href="rupture.html"><img src="static/images/index/rupture.jpg" class="center" style="height: 60%"></a>
			</div>
		</div>

	</div>
</div>



<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script>
	$('.sitenav a').removeClass('current');
    $('.nav-index').addClass('current');
</script>


</body>
</html>
