<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" /> 
</head>


<body>


<% include ../src/partials/menu.html %>


<div class="overlay"></div>


<div class="container">
    <div class="wrapper">
        <div class="project-infos">
            <p>
                Born in Munich, Germany, 1989<br>
                Lives and works in Paris, France<br><br>
                Graduating from "L'école des Gobelins", 2013, Paris<br>
                Founder of the photography collective Insolance with Marine De la loge and Melissa Boucher
                <br><br>
                <h1>Expositions</h1>
                La série <span style="font-style: italic;">Er-scheinen</span> est le produit d’une interrogation d’abord instinctive, purement impulsive. Au fur et à mesure des images produites et de la reconnaissance de mon sujet j’ai pu orienter mon travail de façon plus consciente.
                <br><br>
                La série démarre avec un constat simple et formel: la matière (objets photographiés, personnes) subit une altération lorsqu’elle rencontre la lumière et cet état éphémère devient permanente en le fixant grâce à la photographie.
                <br><br>
                La réaction entre la matière tangible et la lumière ineffable peut être purement esthétique, sublimant l’objet mais peut aussi le dénaturer et en offrir une nouvelle lecture en interrogeant son identité.
                <br><br>
                Il s’agit d’un travail mené au quotidien récoltant des visions aléatoires ou construites, qui remettent en question la forme des choses et leur confèrent une certaine étrangeté entre le sublime et l’inquiétant. J’ai voulu par le biais de ces images évoquer une seconde lecture du monde à petite échelle où la perception et l’identification au premier degré des choses est remis en question: l’altération des éléments représentés par la lumière, le jeu sur la mise au point, et le temps d’exposition empêche une reconnaissance immédiate par le spectateur. C’est dans le laps de temps qu’engendre cette dénaturation que l’image et ce qu’elle représente peut exister pour elle-même, en dehors de tout repère forcément restrictif car «tout classement est oppressif» (R. Barthes) : elle trouve ainsi une nouvelle expression et devient le récipient de ce tout un chacun veut y projeter.
            </p>


        </div>
    </div>
</div>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script>
    $('.sitenav a').removeClass('current');
    $('.nav-infos').addClass('current');
</script>



</body>
</html>