<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" /> 
</head>


<body>


<% include ../src/partials/menu.html %>


<div class="overlay"></div>


<div class="container">
    <div class="wrapper">
        <div class="project-infos">
            <p>
                Born in Munich, Germany, 1989<br>
                Lives and works in Paris, France<br><br>
                Graduating from "L'école des Gobelins", 2013, Paris<br>
                Founder of the photography collective Insolance with Marine De la loge and Melissa Boucher
                <br><br><br><br><br><br>



<h1>Expositions</h1>

2017 <br>
<span style="font-style:italic;">à venir</span>, exposition de groupe, Le CRIC, Nîmes
<br><br>

2016 <br>
<span style="font-style:italic;">à venir</span>, «Autofictions», exposition collective, Under Construction Galery, Paris <br>
«Fragments amoureux», 22e Rencontres de la jeune photographie internationale de Niort, exposition de groupe, Villa Pérochon, Niort <br>
«Des filles, la mer et une grotte», 22e Rencontres de la jeune photographie internationale de Niort, exposition de groupe, Villa Pérochon, Niort <br>
«White Trash», Carte blanche avec le Point Contemporain dans le cadre de la Young <br>
International Artfair, Bruxelles <br>
La Nuit de l’Instant, Les Ateliers de l’Image, Hors les Murs, Marseille <br>

<br><br> 
 
2015 <br>
«Seine Saint Denis Style», collaboration avec Ken Sortais, exposition collective, G8 - Cité internationale des Arts, Paris <br>
«Lunes noires», collectif Insolance, Le Huit, Paris  <br>
«Villes fantômes», exposition collective, La Rotonde, Paris <br>
«Field Effects», collaboration avec Ken Sortais, exposition collective, Le CAP, Arles <br>
«On the soft edge», exposition personnelle dans le cadre des lauréats sélectionnés pour le festival ManifestO, Toulouse <br>
«Des filles, la mer et une grotte», exposition personnelle dans le cadre du festival  La Photographie Marseille, La Straat, Marseille <br>

<br><br> 
 
2013 <br>
«END», collectif Insolance, La Manutention, Paris

<br><br> 
 
2011 <br>
«Starving Artist Superstar», exposition collective, Archive Books, Berlin

<br><br> 

<h1>Editions / Publications</h1>

<br><br> 
 
2016 <br>
Carte blanche, 22e Rencontres de la jeune photographie internationale de Niort <br> 
Pirlo #3 publié par Piero Good et Andreas Lumineau <br> 
White Trash, auto publié <br> 




<br><br> 
 
2015 <br>
Des filles la mer et une grotte, auto publié  <br> 
Lunes noires, Insolance, auto publié  <br> 
Le spectre des illuminés, en collaboration avec Ken Sortais, auto publié  <br> 
Cattuliacus, en collaboration avec Ken Sortais, auto publié  <br> 

<br><br> 
 
2014 <br>
Nackt, LeftHand editions


<br><br> 
 
2013 <br>
END #0, Insolance, auto publié <br>
Commandes, collaborations et publications avec Le M magazine du Monde, Causette, Point Contemporain, Pirlo, Arkademi, 7000words ..  





<br><br> 

<h1>Résidences</h1>


<br><br> 
 
2016 <br>
22e Rencontres de la jeune photographie internationale de Niort, Villa Pérochon, Niort


<br><br> 
 
2015 <br>
La villa Raymonde, Brens


  </p>


        </div>
    </div>
</div>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script>
    $('.sitenav a').removeClass('current');
    $('.nav-infos').addClass('current');
</script>



</body>
</html>