<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" /> 
</head>


<body>
	


<% include ../src/partials/menu.html %>


<div class="overlay"></div>
<div class="background"></div>

<div class="container">
    <div class="wrapper">
    
    
        <div class="project-infos">
            <p>EXHIBITIONS
<br><br>
2015
Seine Saint-Denis Style, in collaboration with Ken Sortais, group exhibition, at G8 - Cité Internationale des Arts, Paris
Lunes noires, Insolance at Le Huit, Paris
Villes fantômes / Photo 122, group exhibition at La Rotonde, Paris
Fields Effects, in collaboration with Ken Sortais, group exhibition, Arles
On the soft edge, solo show at ManifestO festival, Toulouse
Des filles la mer et une grotte at Straat Galerie, Marseille
<br><br>
2013 <br>
END with Insolance, La Manutention, Paris
<br><br>
2011<br>
Group exhibition Starving Artist Superstar, Archive Books, Berlin
<br><br>

PUBLICATIONS
<br><br>
On paper
<br><br>
2016<br>
to come, Pirlo #3
<br><br>
2015<br>
Des filles la mer et une grotte, selfpublished
Le spectre des illuminés, in collaboration with Ken Sortais, selfpublished
Cattuliacus, in collaboration with Ken Sortais, selfpublished
<br><br>
2014<br>
Nackt, LeftHand editions
<br><br>
2013<br>
END #0 with Insolance, selfpublished
<br><br>
Web<br>
<br><br>
2014<br>
Sexy Carwash, 7000 words Magazine
Arkademi 
<br><br>

RESIDENCIES
<br><br>
2016<br>
to come, Les Rencontres de la jeune photographie internationale, Villa Pérochon, Niort, France
<br><br>
2015<br>
La Villa Raymonde, Brens, France
            </p>



        </div>
    </div>

    


</body>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/jquery.fullPage.js"></script>

<script src="static/js/main.js"></script>

<script>
     $('.sitenav a').removeClass('current');
    $('.nav-infos').addClass('current');
</script>


</body>
</html>