<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" /> 
</head>


<body>


<% include ../src/partials/menu.html %>


<div class="overlay"></div>


<div class="container">
    <div class="wrapper">
        <div class="project-infos">
            <p>
                Born in Munich, Germany, 1989<br>
                Lives and works in Paris, France<br><br>
                Graduating from "L'école des Gobelins", 2013, Paris<br>
                Founder of the photography collective Insolance with Marine De la loge and Melissa Boucher
                <br><br><br><br><br><br>





Rebekka Deubner, vit et travaille à Paris 20.11.1989<br>
Française<br>
9, rue Emile Lepeu - 75011 Paris - France 06.08.65.53.95 - deubner.rebekka@yahoo.fr www.rebekkadeubner.com<br>
Formation<br>
2013 Diplômée de Gobelins l’Ecole de l’Image en Photographie, Prise de vue, Paris 2013 2ème année Photographie, Prise de vue, Les Gobelins, Paris<br>
2012 1ère année Photographie, Prise de vue, Les Gobelins, Paris<br>
2011 L3, Histoire de l’Art et Archéologie, Freie Universität, Berlin, Allemagne<br>
2010 L2, Histoire de l’Art et Archéologie, Université Paris Ouest Nanterre, Nanterre 2009 Hypokhâgne, option Histoire de l’Art, lycée Condorcet, Paris<br>
Expositions<br><br>
2017<br>
à venir, exposition collective, Le CRIC, Nîmes<br>
2016<br>
à venir, exposition collective, Auto ctions, Under Construction Galery, Paris<br>
Exposition collective, Fragments amoureux, 22e Rencontres de la jeune photographie internationale de Niort, Villa Pérochon, Niort<br>
Exposition collective, Des  lles, la mer et une grotte, 22e Rencontres de la jeune photographie internationale de Niort, Villa Pérochon, Niort<br>
White Trash, exposition personnelle, Carte blanche avec le Point Contemporain dans le cadre de la Young International Artfair, Bruxelles<br>
Exposition collective, On the soft edge, dans le cadre des lauréats de La Nuit de l’Instant, Les Ateliers de l’Image, Hors les Murs, Marseille<br>
2015<br><br>
Exposition collective, Seine Saint Denis Style, collaboration avec Ken Sortais, exposition collective, G8 - Cité internationale des Arts, Paris<br>
Exposition personnelle, Lunes noires, collectif Insolance, Le Huit, Paris<br>
Exposition collective, Villes fantômes, Galerie de la Rotonde, Paris<br>
Exposition collective, Field Effects, collaboration avec Ken Sortais, Le CAP, Arles<br>
Exposition personnelle, On the soft edge, dans le cadre des lauréats sélectionnés pour le festival ManifestO, Toulouse<br>
Exposition personnelle, Des  lles, la mer et une grotte, dans le cadre du festival La Photographie Marseille, La Straat, Marseille<br>
2013<br><br>
Exposition personnelle, END, collectif Insolance, La Manutention, Paris<br>
2011<br><br>
Exposition collective, Starving Artist Superstar, exposition collective, Archive Books, Berlin<br>
Editions / Publications<br>
2016<br>
Carte blanche, 22e Rencontres de la jeune photographie internationale de Niort Pirlo #3 publié par Piero Good et Andreas Lumineau<br>
White Trash, auto publié<br>
2015<br><br>
Des  lles la mer et une grotte, auto publié<br>
Lunes noires, Insolance, auto publié<br>
Le spectre des illuminés, en collaboration avec Ken Sortais, auto publié Cattuliacus, en collaboration avec Ken Sortais, auto publié<br>
2014<br><br>
Nackt, LeftHand editions<br>
2013<br><br>
END #0, Insolance, auto publié<br>
Commandes, collaborations et publications avec Le M magazine du Monde, Causette, Point Contemporain, Pirlo, Arkademi, 7000words ...
Résidences<br>
2016<br><br>
22e Rencontres de la jeune photographie internationale de Niort, Villa Pérochon, Niort<br>
2015<br><br>
La villa Raymonde, Brens<br>
Prix<br>
2015<br><br>
Lauréate lors de l’édition 2015 du festival Manifesto, Toulouse<br>




                <br><br><br><br><br><br>
                <h1>Expositions</h1>
                La série <span style="font-style: italic;">Er-scheinen</span> est le produit d’une interrogation d’abord instinctive, purement impulsive. Au fur et à mesure des images produites et de la reconnaissance de mon sujet j’ai pu orienter mon travail de façon plus consciente.
                <br><br>
                La série démarre avec un constat simple et formel: la matière (objets photographiés, personnes) subit une altération lorsqu’elle rencontre la lumière et cet état éphémère devient permanente en le fixant grâce à la photographie.
                <br><br>
                La réaction entre la matière tangible et la lumière ineffable peut être purement esthétique, sublimant l’objet mais peut aussi le dénaturer et en offrir une nouvelle lecture en interrogeant son identité.
                <br><br>
                Il s’agit d’un travail mené au quotidien récoltant des visions aléatoires ou construites, qui remettent en question la forme des choses et leur confèrent une certaine étrangeté entre le sublime et l’inquiétant. J’ai voulu par le biais de ces images évoquer une seconde lecture du monde à petite échelle où la perception et l’identification au premier degré des choses est remis en question: l’altération des éléments représentés par la lumière, le jeu sur la mise au point, et le temps d’exposition empêche une reconnaissance immédiate par le spectateur. C’est dans le laps de temps qu’engendre cette dénaturation que l’image et ce qu’elle représente peut exister pour elle-même, en dehors de tout repère forcément restrictif car «tout classement est oppressif» (R. Barthes) : elle trouve ainsi une nouvelle expression et devient le récipient de ce tout un chacun veut y projeter.
            </p>


        </div>
    </div>
</div>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script>
    $('.sitenav a').removeClass('current');
    $('.nav-infos').addClass('current');
</script>



</body>
</html>