<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" />

</head>

<body>


<% include ../src/partials/menu.html %>

<div class="overlay"></div>




<div class="container">
	<div class="journal">


<!-- 4 -->

	<!-- Single Column -->
	<div class="col-1">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
	</div>


	<!-- Spacing -->
	<div class="blank"></div>

	<!-- Double Column -->
	<div class="col-2">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test2.jpg" alt="Image"/>
		</div>
		<div class="clear"></div>
		<div class="caption">This a shoot</div>
	</div>

	<div class="col-2">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
		<div class="clear"></div>
		<div class="caption">This a shoot</div>			
	</div>		

	


<!-- Spacing -->
	<div class="blank"></div>



<!-- 3 -->

	<!-- Double Column -->
	<div class="col-2">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
	</div>
	<div class="col-2">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
	</div>		

	<div class="clear"></div>


	<div class="caption">
		This is another photo taken by RD
	</div>




	


<!-- Spacing -->
	<div class="blank"></div>


<!-- 2 -->


	<!-- Triple Column -->

	<div class="col-3">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
	</div>
	<div class="col-3">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test2.jpg" alt="Image"/>
		</div>
	</div>
	<div class="col-3">
		<div class="wrapper">
			<img class="lazy" src="static/images/test.jpg" data-original="static/images/test.jpg" alt="Image"/>
		</div>
	</div>					


	<div class="clear"></div>


	<div class="caption">
		This is another photo taken by RD
	</div>







<!-- 1 -->


	<!-- Single Column -->

	<div class="col-1">
		<div class="wrapper">
			<video width:"100%" autoplay loop muted poster="/" class="video">
				<source src="static/videos/prototype.mp4" type="video/mp4">
				<source src="static/videos/prototype.webm" type="video/mp4">
			</video>
		</div>
	</div>


	<!-- Caption -->
	<div class="clear"></div>
	
	<div class="caption">
		This is another photo taken by RD
	</div>









	</div>
</div>




	
<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/LazyLoad.js"></script>
<script src="static/js/main.js"></script>

<script>
	$("img.lazy").lazyload({
		effect : "fadeIn",
		threshold : 100
	});

	$('.sitenav a').removeClass('current');
    $('.nav-journal').addClass('current');
</script>

</body>
</html>
