<% include ../src/partials/head.html %>

	<title>Nackt</title>

</head>


<body>


<div class="container">
	<div class="sitenav">
		<div class="index">
			<a class="nav-index" href="index.html">Index</a>
		</div>
	</div>
</div>


<div class="overlay"></div>


<div class="container">
	<div class="wrapper">
		<div class="project-infos">
			<p>
				<h1>Nackt</h1>
			</p>
		</div>
	</div>
</div>




<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>