<% include ../src/partials/head.html %>

	<title>Nackt</title>

</head>


<body class="page-project">
<div class="overlay"></div>


<!-- Back to Home -->

<!-- View 3 -->
<a href="nackt-infos.html" class="view hidden white">
	<div class="full white">
		<img src="static/images/RD_nackt/RD_nackt_3.jpg" class="center" style="height: 55%">
	</div>
</a>



<!-- View 2 -->
<div class="view">
	<div class="full white">
		<img src="static/images/RD_nackt/RD_nackt_2.jpg" class="center" style="height: 55%">
	</div>
</div>




<!-- View 1 -->
<div class="view">
	<div class="full white">
		<img src="static/images/RD_nackt/RD_nackt_1.jpg" class="center" style="height: 55%">
	</div>
</div>






	

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
