<% include ../src/partials/head.html %>

	<title>Rupture interne</title>

</head>

<body class="page-project">
	<div class="overlay"></div>





	<!-- Back to Home -->

	<!-- View 1 -->
	<a href="ruptureinterne-infos.html" class="view" style="overflow-x: scroll;">
		<div class="align-left">
			<img src="static/images/RD_rupture/RD_rupture.jpg">
		</div>
	</a>


</div>


	




































<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
