<!DOCTYPE html>
<html>
<head>
	<title>Rebekka Deubner</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/" sizes="16x16" />

</head>

<body class="page-project">
<div class="overlay"></div>

<!-- Info Box -->

<div id="draggable">


	
	<div class="toolbar">
		<div class="close-icon"></div>
		<div class="close">Fermer</div>
	</div>


	<div class="content">

	<p>Villes fantômes [Photographie 122] est une exposition organisée par Desord'oeuvres à la Rotonde dans le cadre du cycle Villes fantômes.

	Renoncer pour créer

	Diplômée en 2013 de l’École des Gobelins où elle s’est spécialisée en photographie, elle mène depuis plusieurs années des projets où la photographie argentique tient une place privilégiée. Les mois de juillet et août 2014 ont été l’occasion de produire son projet le plus important jusqu’à présent : une série d’images prises dans la préfecture de Fukushima. Progresser vers le lieu interdit, s’arrêter au bas du mur, puis abdiquer des lieux communs et de leurs images préconçues, pour ne se concentrer que sur « les projections de [son] esprit, seule alternative laissée à l’insaisissable mutation des éléments »
	L’image approchante
	Depuis Fukushima jusqu’aux Pinardiers, le regard de Rebekka Deubner évite l’évidence, refusant de reproduire in extenso nos attentes : elle les contourne. Pour Villes fantômes [Photographie 122], elle explore le principe du cadavre exquis appliqué à l’image. Partant de ce principe d’image approchante, elle construit à partir de la photographie n° 122 — ses forme, texture, couleur — une succession d’images choisies qui peu à peu s’en éloignent pour acquérir leur autonomie par rapport au modèle. La photographie n° 122 est ainsi confrontée à des avatars de ce lieu disparu : une nouvelle vie, une réincarnation de cette façade en particulier, diffractée par le principe de ressemblance.
	Parents proches et famille lointaine
	De proche en proche, donc, on retrouve ce que pourrait être, là où l’on pourrait reconnaître, une possible Rue­Neuve­de­Turin, à Paris et bien ailleurs. La façade disparue se déploie à travers une pléiade d’images, depuis l’esthétique approchante jusqu’aux parents lointains de la feue­rue de Turin. Pour que ces derniers nous habitent, l’artiste déroule sa toile imprimée sur toute la hauteur du lieu, tel un arbre généalogique où le principe de similitude plutôt que lelien du sang présiderait à la parenté. De là à dire que Rebekka Deubner configure une nouvelle famille à notre image, il n’y a qu’un pas.
	Camille Richert</p>


	</div>

</div>




<!-- Back to Home -->

<!-- View 16 -->
<a href="index.html" class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_16.jpg">
	</div>
</a>


<!-- View 15 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_15.jpg">
	</div>
</div>

<!-- View 14 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_14.jpg">
	</div>
</div>

<!-- View 13 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_13.jpg">
	</div>
</div>

<!-- View 12 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_12.jpg">
	</div>
</div>

<!-- View 11 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_11.jpg">
	</div>
</div>


<!-- View 10 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_10.jpg">
	</div>
</div>



<!-- View 9 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_9.jpg">
	</div>
</div>



<!-- View 8 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_8.jpg">
	</div>
</div>


<!-- View 7 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_7.jpg">
	</div>
</div>


<!-- View 6 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_6.jpg">
	</div>
</div>


<!-- View 5 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_5.jpg">
	</div>
</div>


<!-- View 4 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_4.jpg">
	</div>
</div>


<!-- View 3 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_3.jpg">
	</div>
</div>



<!-- View 2 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_2.jpg">
	</div>
</div>


<!-- View 1 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_1.jpg">
	</div>
</div>






	

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
