<% include ../src/partials/head.html %>

	<title>On the soft edge</title>

</head>

<body class="page-project">
<div class="overlay"></div>




<!-- Back to Home -->

<!-- View 16 -->
<a href="onthesoftedge-infos.html" class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_16.jpg">
	</div>
</a>


<!-- View 15 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_15.jpg">
	</div>
</div>

<!-- View 14 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_14.jpg">
	</div>
</div>

<!-- View 13 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_13.jpg">
	</div>
</div>

<!-- View 12 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_12.jpg">
	</div>
</div>

<!-- View 11 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_11.jpg">
	</div>
</div>


<!-- View 10 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_10.jpg">
	</div>
</div>



<!-- View 9 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_9.jpg">
	</div>
</div>



<!-- View 8 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_8.jpg">
	</div>
</div>


<!-- View 7 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_7.jpg">
	</div>
</div>


<!-- View 6 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_6.jpg">
	</div>
</div>


<!-- View 5 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_5.jpg">
	</div>
</div>


<!-- View 4 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_4.jpg">
	</div>
</div>


<!-- View 3 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_3.jpg">
	</div>
</div>



<!-- View 2 -->
<div class="view hidden white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_2.jpg">
	</div>
</div>


<!-- View 1 -->
<div class="view white">
	<div class="align-left">
		<img src="static/images/RD_softedge/RD_softedge_1.jpg">
	</div>
</div>






	

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
