<% include ../src/partials/head.html %>

	<title>J'ai bu le vin nouveau</title>

</head>

<body class="page-project">
<div class="overlay"></div>



<!-- Back to Home -->

<!-- View 1 -->
<a href="jaibulevinnouveau-infos.html" class="view" style="overflow-y: scroll;">
	<div class="center">
		<img src="static/images/RD_vinnouveau/RD_vinnouveau.jpg">
	</div>
</a>




	

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>


</body>
</html>
