.espace {
    padding-bottom: 120px;

	.article {
		padding-top: 85px;
		width: 66%;
		margin-left: 40px;

		
		img {
			padding-bottom: 20px;
		}
		p {
			padding: 10px 0;
		}
	}
}

.journal {
    padding-bottom: 120px;

	.article {
		padding-top: 85px;
		

		p {
			padding: 10px 0;
		}
	}
}
