.sitenav {
	position: fixed;
	width: calc(100% - 80px);
	height: 80px;
	margin: auto;
	z-index: 100;
	right: 40px;
	left: 40px;
	
	.current {
		border-bottom: 1px solid black;
		padding-bottom: 2px;
	}

	a {
		color: $dark;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid black;
			padding-bottom: 2px;
		}
	}

	.index {
		position: absolute;
    	top: 20px;
		left: 0;
	}


	.menu {
		position: absolute;
    	top: 20px;
		right: 0;
		a {
			margin-left: 40px;
		}
		li {
			float: left;

		}
	}

}




