// @font-face {
//   font-family: 'Menlo';
//   src: url('../css/fonts/Menlo/Menlo-Regular.eot');
//   src: local('☺'),   	url('../css/fonts/Menlo/Menlo-Regular.woff')
//   format('woff'), 		url('../css/fonts/Menlo/Menlo-Regular.ttf')
//   format('truetype'),	url('../css/fonts/Menlo/Menlo-Regular.svg') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gotham';
//   src: url('../css/fonts/gotham/gotham-rounded-book.eot');
//   src: local('☺'),    url('../css/fonts/gotham/gotham-rounded-book.woff')
//   format('woff'),     url('../css/fonts/gotham/gotham-rounded-book.ttf')
//   format('truetype'), url('../css/fonts/gotham/gotham-rounded-book.svg') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'HelveticaNeueExtended';
  src: url('../css/fonts/HelveticaNeue-Ext.eot');
  src: local('☺'),   	url('../css/fonts/HelveticaNeue-Ext.woff')
  format('woff'), 		url('../css/fonts/HelveticaNeue-Ext.ttf')
  format('truetype'),	url('../css/fonts/HelveticaNeue-Ext.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueExtended';
  src: url('../css/fonts/HelveticaNeue-MediumExt.eot');
  src: local('☺'),    url('../css/fonts/HelveticaNeue-MediumExt.woff')
  format('woff'),     url('../css/fonts/HelveticaNeue-MediumExt.ttf')
  format('truetype'), url('../css/fonts/HelveticaNeue-MediumExt.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

$primary: #000;
$dark: #000; 
$light: #E8E8E8;

body {
	font: 11px / 20px -apple-system, ".SFNSText-Regular", "Roboto", "Times New Roman", serif;;
  letter-spacing: 0;
  font-weight: 400;
	color: $dark;


    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;	

    ::selection {
    color: blue;
    background: transparent;
}
}

h1 {
	font-size: 20px;
	color: $dark;
	line-height: 1.5;
}




