.page-project {
    overflow: hidden;

}


// Description

.project-infos {
    margin-top: 80px;
    max-width: 400px;
    padding-bottom: 100px;

    h1 {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 20px;        
    }
}



// Views Layout

.hidden {
    display: none;
}

.view {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    .full {
        position: relative;
        width: 100%;
        height: 100%;    
    }
    .left {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
    }
    .right {
        position: relative;
        float: right;
        width: 50%;
        height: 100%;
    }
}

.white {
     background-color: white;
}
.null {
    background-color: transparent;
}


// Image Positionning
.center {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    left: 0;
    bottom: 0;            
    right: 0;
    margin: auto;
}

.center-bottom {
    position: absolute;
    width: auto;
    height: 100%;
    // top: 0;            
    left: 0;
    bottom: 0;            
    right: 0;
    margin: auto;
}
.center-top {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    left: 0;
    // bottom: 0;            
    right: 0;
    margin: auto;
}
.center-left {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    left: 0;
    bottom: 0;            
    // right: 0;
    margin: auto;
}
.center-right {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    // left: 0;
    bottom: 0;            
    right: 0;
    margin: auto;  
}

.top-left {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    left: 0;
    // bottom: 0;            
    // right: 0;
    margin: auto;
}
.top-right {
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;            
    // left: 0;
    // bottom: 0;            
    right: 0;
    margin: auto;
}
.bottom-left {
    position: absolute;
    width: auto;
    height: 100%;
    // top: 0;            
    left: 0;
    bottom: 0;            
    // right: 0;
    margin: auto;
}
.bottom-right {
    position: absolute;
    width: auto;
    height: 100%;
    // top: 0;            
    // left: 0;
    bottom: 0;            
    right: 0;
    margin: auto; 
}



